<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/JQueryUI/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/JQueryUI/css/redmond/jquery-ui-1.10.3.custom.min.css">

    <script type="text/javascript">
        window.movieService = {
            environment: {
                baseUrl: '@(ViewContext.HttpContext.Request.Url.GetLeftPart(UriPartial.Authority) + ViewContext.HttpContext.Request.ApplicationPath)'
            },
            current: {
                action: '@ViewContext.Controller.ValueProvider.GetValue("action").RawValue'
            }
        };
    </script>

    <script type="text/javascript" src="~/Scripts/Core.js"></script>

    @RenderSection("Scripts", false)

    <title>@ViewBag.Title</title>
</head>
    <body>
        <div style="float: right;">@Html.ActionLink("Log out", "Logoff", "Account")</div>
        <div>
            @RenderSection("MainContent")
        </div>
    </body>
</html>
