@{ ViewBag.BaseUrl = Url.Action("", ""); }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/JQueryUI/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.3.0.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.validation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Styles/Bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/styles.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/JQueryUI/css/redmond/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Styles/Bootstrap/css/bootstrap.min.css" media="screen">

    <script type="text/javascript">
        window.movieService = {
            environment: {
                baseUrl: '@ViewBag.BaseUrl'
            },
            current: {
                action: '@ViewContext.Controller.ValueProvider.GetValue("action").RawValue'
            }
        };
    </script>

    <script type="text/javascript" src="~/Scripts/Core.js"></script>
    <script type="text/javascript" src="~/Scripts/InviteFriend.js"></script>
    <script type="text/javascript" src="~/Scripts/Layout.js"></script>

    @RenderSection("Scripts", false)

    <title>@ViewBag.Title</title>
</head>
    <body>
        
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Movie voter</a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LoginGoogle", "Account", FormMethod.Post, new { id = "loginForm", @class = "navbar-form navbar-right", ReturnUrl = ViewBag.ReturnUrl }))
                {
                    <input type="image" src="~/Content/White-signin_Long_base_20dp.png" alt="Login" />
                }
            }
            else
            {
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button id="buttonInvite" class="btn btn-default navbar-btn"
                                data-bind="click: activate">Invite Friend</button>
                        </li>
                        <li>
                            @Html.ActionLink(User.Identity.Name, "Logoff", "Account")
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            }
        </nav>

        <div class="container">
            @RenderSection("MainContent")
        </div>

        <div id="inviteFriendDialog" style="display: none">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="txtEmail" class="control-label">Email*</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="txtEmail"
                           data-bind="value: Email"/>
                </div>
                <div class="form-group">
                    <button data-bind="click: invite" class="btn btn-default">Save</button>
                </div>
            </form>
        </div>
    </body>
</html>
